@font-face {
    font-family: 'Evogria';
    src: url('../fonts/Evogria.otf') format('opentype');
}

@font-face {
    font-family: 'EvogriaItalic';
    src: url('../fonts/Evogria\ Italic.otf') format('opentype');
}
@font-face {
    font-family: 'Moltorscondital';
    src: url('../fonts/moltorscondital.ttf') format('truetype');
}
@font-face {
    font-family: 'Velocista';
    src: url('../fonts/Velocista-Demo-FFP.ttf') format('truetype');
}
/* HEADER */
.header {
    font-family: 'Velocista', 'Moltorscondital', sans-serif;
    background-color: rgba(32, 30, 30, 0.7);
    color: #fff;
    padding: 0px 0;
    backdrop-filter: blur(8px) brightness(1.2);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal en dispositivos móviles */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: -70px;
}

.logo img {
    max-width: 170px;
    margin-right: 50px;
}

.nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas si es necesario */
}

.nav__item {
    margin-right: 20px;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Botones del menú */
.nav__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__item {
    font-size: 25px;
    width: 8em;
    height: 2em;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

.nav__item::before,
.nav__item::after {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Velocista, sans-serif;
    text-transform: capitalize;
    font-size: 17px;
    transform: translateX(calc(0.5em * 3 + 0.08em * 20));
    transition: 0.7s;
    text-decoration: none;
}

.nav__link:hover {
    transform: translateX(0.15em);
}

/* Botón para los idiomas */
.language-dropdown {
    position: relative;
    display: inline-block;
    margin-right: -100px;
    align-self: center; /* Centra el menú de idioma horizontalmente */
}

.language-dropdown select {
    padding: 8px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "EvogriaItalic", sans-serif;
}

.language-dropdown select:hover {
    background-color: #ffffff;
}

.language-dropdown select:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(186, 28, 28, 0.1);
}

.language-dropdown select:hover option {
    background-color: #f9f9f9;
}

.language-dropdown select option:checked {
    background-color: #ddd;
}

/* Estilo para el contenido de la página para probar el desplazamiento */
.construction-container {
    text-align: center;
    margin-top: 50px;
}

.construction-text {
    font-size: 24px;
    color: #333;
}

/* Estilos para el botón de menú hamburguesa */
.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center; /* Centra los elementos horizontalmente */
        padding: 0 10px;
    }

    .logo {
        margin-left: 0;
        margin-bottom: 10px; /* Agrega un margen inferior para separar el logo del resto */
    }

    .logo img {
        margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
    }

    .nav {
        display: none; /* Oculta el menú por defecto */
        width: 100%;
    }

    .nav__list {
        flex-direction: column;
        align-items: center; /* Centra los elementos del menú horizontalmente */
        width: 100%;
    }

    .nav__item {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .nav__link {
        justify-content: center;
        font-size: 16px;
    }

    .language-dropdown {
        margin-right: 0;
        margin-top: 5px;
        align-self: center; /* Centra el menú de lenguaje horizontalmente */
    }

    .language-dropdown select {
        width: 100%; /* Asegura que el select ocupe todo el ancho disponible */
    }

    .menu-toggle {
        display: block; /* Muestra el botón de menú hamburguesa */
        align-self: center; /* Centra el botón de menú hamburguesa */
        margin-top: 10px;
    }
}

/* Mostrar el menú cuando esté activo */
.nav.active {
    display: block;
    text-align: center; /* Centra el texto del menú cuando está activo */
}









/* BODY */
body {
    background: linear-gradient(135deg, #0f1c47, #0059ff, #1e00ff, #0b2860, #073ef4); /* Degradado azul con varios tonos */
    background-size: cover; /* Ajusta el degradado para cubrir todo el fondo */
    background-position: center; /* Centra el degradado */
    background-repeat: no-repeat; /* Evita que el degradado se repita */
    background-color: rgba(0, 0, 0, 0.5); /* Agrega un fondo semitransparente */
    padding: 20px 0; /* Espaciado interno */
    color: #fff; /* Color del texto */
    margin-top: 70px;
}



.construction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Utiliza el 100% de la altura de la ventana */
}

.construction-text {
    font-size: 24px;
    margin-top: 20px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    body {
        background-size: auto 100%; /* Ajusta la imagen para cubrir la altura del teléfono */
        background-attachment: scroll; /* Asegura que la imagen se desplace con el contenido */
    }

    .construction-container {
        height: auto; /* Ajusta la altura del contenedor */
        padding: 20px; /* Añade padding para evitar que el contenido toque los bordes */
    }

    .construction-text {
        font-size: 20px; /* Ajusta el tamaño del texto */
        margin-top: 10px; /* Reduce el margen superior */
    }
}

@media (max-width: 480px) {
    body {
        background-size: auto 100%; /* Ajusta la imagen para cubrir la altura del teléfono */
        background-attachment: scroll; /* Asegura que la imagen se desplace con el contenido */
    }

    .construction-container {
        height: auto; /* Ajusta la altura del contenedor */
        padding: 10px; /* Añade padding para evitar que el contenido toque los bordes */
        padding-top: 150px;
    }

    .construction-text {
        font-size: 18px; /* Ajusta el tamaño del texto */
        margin-top: 10px; /* Reduce el margen superior */
    }
}





/* FOOTER */
.footer {
    font-family: EvogriaItalic, sans-serif;
    background-color: rgba(32, 30, 30, 0.7);
    color: #fff;
    padding: 20px 0;
    backdrop-filter: blur(8px) brightness(1.2);
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid #001eff;
}

.footer-col {
    text-align: center;
    flex: 1;
    margin: 10px 0;
}

.footer-col i {
    font-size: 24px;
    color: rgb(255, 0, 0);
    margin-bottom: 5px;
}

.footer-col h3 {
    margin-bottom: 5px;
}

.footer-col p {
    margin-bottom: 0;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
}

.footer-section {
    max-width: 250px;
    flex: 1;
    margin: 10px 0;
}

.footer-logo {
    width: 250px;
    margin-bottom: 5px;
}

.footer-section h3 {
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
}

.footer-section h3::after {
    content: '';
    display: block;
    width: 40px;
    height: 2px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom: -5px;
    left: 0;
}

.footer-section p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

.social-icons a {
    color: #ffffff;
    margin-right: 10px;
    font-size: 20px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section .subscribe-form {
    display: flex;
    align-items: center;
}

.footer-section .subscribe-form input {
    padding: 5px;
    border: none;
    border-radius: 3px 0 0 3px;
    outline: none;
    font-size: 14px;
    width: 70%;
}

.footer-section .subscribe-form button {
    padding: 5px;
    border: none;
    background-color: rgb(0, 72, 255);
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.footer-bottom-bar {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #000dff;
    font-size: 14px;
}

.footer-bottom-bar span {
    color: rgb(255, 0, 0);
}

.footer-bottom-bar ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-bottom-bar ul li {
    margin: 0 10px;
}

.footer-bottom-bar ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom-bar ul li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons a img {
    width: 70px;
    height: 70px;
}

.footer-icon {
    width: 70px;
    height: 100px;
    margin-bottom: 0px;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
    .footer-top,
    .footer-bottom {
        flex-direction: column;
        align-items: center;
        padding: 10px 0; /* Reduce el padding */
    }

    .footer-col,
    .footer-section {
        max-width: 100%;
        margin: 5px 0; /* Reduce el margen */
    }

    .footer-logo {
        width: 100%;
        max-width: 120px; /* Reduce el tamaño del logo */
    }

    .footer-section h3 {
        font-size: 16px; /* Reduce el tamaño del texto */
        margin-bottom: 3px; /* Reduce el margen inferior */
    }

    .footer-section p {
        font-size: 12px; /* Reduce el tamaño del texto */
        margin-bottom: 3px; /* Reduce el margen inferior */
    }

    .footer-section ul li {
        margin-bottom: 3px; /* Reduce el margen inferior */
    }

    .footer-section .subscribe-form input {
        padding: 3px; /* Reduce el padding */
        font-size: 12px; /* Reduce el tamaño del texto */
    }

    .footer-section .subscribe-form button {
        padding: 3px; /* Reduce el padding */
        font-size: 12px; /* Reduce el tamaño del texto */
    }

    .social-icons a img {
        width: 50px; /* Reduce el tamaño de los íconos */
        height: 50px; /* Reduce el tamaño de los íconos */
    }

    .footer-bottom-bar {
        font-size: 12px; /* Reduce el tamaño del texto */
        padding-top: 10px; /* Reduce el padding */
    }

    .footer-bottom-bar ul li {
        margin: 5px 0; /* Reduce el margen */
    }

    .footer-bottom-bar ul {
        flex-direction: column;
        align-items: center;
    }
}






/* Estilos para la sección "Sobre Nosotros" */
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.about-section, .mission-vision-section {
    background: linear-gradient(135deg, #cf0000 0%, #4d0000 100%);
    font-family: 'Velocista';
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #333;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.mission-vision-section:hover {
    transform: scale(1.05); /* Agranda el contenedor */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para resaltar */
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.about-section:hover {
    transform: scale(1.05); /* Agranda el contenedor */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para resaltar */
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.about-section h1, .mission-vision-section h2 {
    font-family: 'Velocista', sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.about-section p, .mission-vision-section p {
    font-family: 'Evogria', sans-serif;
    color: #ffffff;
    line-height: 1.8;
    text-align: center;
    margin: 0 20px;
}

.mission-vision-section h2:first-of-type {
    margin-top: 0;
}

/* Animación de desplazamiento */
.slide-in {
    opacity: 1;
    transform: translateX(0);
}

/* Estilo adicional para mejorar la apariencia */
.about-section h1, .mission-vision-section h2 {
    font-size: 30px;
}

.about-section p, .mission-vision-section p {
    font-size: 17px;
    margin: 10px 0;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 1024px) {
    .about-section, .mission-vision-section, .values-section {
        padding: 20px;
        margin-bottom: 15px;
        opacity: 1;
        transform: none;
        transition: none;
    }

    .about-section h1, .mission-vision-section h2 {
        font-size: 24px;
    }

    .about-section p, .mission-vision-section p, .values-section p {
        font-size: 16px;
        margin: 0 10px;
    }
}

@media (max-width: 768px) {
    .about-section, .mission-vision-section {
        padding: 20px;
        margin-bottom: 15px;
        opacity: 1;
        transform: none;
        transition: none;
    }

    .about-section h1, .mission-vision-section h2 {
        font-size: 24px;
    }

    .about-section p, .mission-vision-section p {
        font-size: 16px;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .about-section, .mission-vision-section {
        padding: 15px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        transform: none;
        transition: none;
    }
 
    

    .about-section h1, .mission-vision-section h2 {
        font-size: 18px;
        text-align: center;
    }

    .about-section p, .mission-vision-section p {
        font-size: 14px;
        margin: 0 5px;
        text-align: justify;
    }
}
/* Estilos específicos para la sección de valores */
.values-section {
    background: linear-gradient(135deg, #cf0000 0%, #4d0000 100%);
    font-family: 'Velocista';
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #333;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Efecto de agrandamiento al pasar el puntero */

.values-section h1 {
    font-family: 'Velocista', sans-serif;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
}


.values-section p {
    font-family: 'Evogria', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
    margin: 10px 0;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
}

.value-item {
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.value-item h3 {
    color: #ffffff;
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(255, 255, 255); /* Ajusta el grosor según sea necesario */
    padding-bottom: 5px;
    
}
.value-item:hover {
    transform: scale(1.05); /* Agranda el contenedor */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para resaltar */
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}


/* Media Queries para dispositivos móviles */
@media (max-width: 1024px) {
    .values-section {
        padding: 20px;
        margin-bottom: 15px;
        opacity: 1;
        transform: none;
        transition: none;
    }

    .values-section h1 {
        font-size: 28px;
    }

    .values-section p {
        font-size: 14px;
        margin: 0 10px;
    }

    .values-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .values-section {
        padding: 15px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        transform: none;
        transition: none;
    }

    .values-section h1 {
        font-size: 22px;
        text-align: center;
    }

    .values-section p {
        font-size: 14px;
        margin: 0 5px;
        text-align: justify;
    }

    .values-section {
        border-radius: 8px;
    }

    .values-grid {
        grid-template-columns: 1fr;
    }
}

/* Animación de desplazamiento para pantallas grandes */
@media (min-width: 769px) {
    .slide-in {
        opacity: 1;
        transform: translateX(0);
    }
}







/* Estilos para los recuadros de información de contacto */
.contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.contact-item {
    background-color: rgba(32, 30, 30, 0.7); /* Fondo oscuro transparente */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center; /* Alineación del contenido al centro */
    margin: 10px; /* Espacio entre los elementos */
    flex: 1 1 100%; /* Ocupa todo el ancho en dispositivos pequeños */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px; /* Ajusta la altura mínima según tus necesidades */
    font-family: 'evogriaitalic';
    transition: transform 0.5s ease, box-shadow 0.3s ease; /* Añade una transición suave */
}

/* Efecto de agrandamiento al pasar el puntero */
.contact-item:hover {
    transform: scale(1.05); /* Agranda el contenedor */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para resaltar */

}

.icon-container {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: 100px; /* Ajusta el tamaño según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;
}

.icon-container img {
    max-width: 100%;
    max-height: 100%;
}

.contact-item h3 {
    margin: 10px 0; /* Espacio entre el título y el texto */
}

.contact-item p {
    margin: 5px 0; /* Espacio alrededor del texto */
}



.whatsapp-icon {
    width: 30%; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción del aspecto */
}



.email-icon {
    width: 30%; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción del aspecto */
}

/* Estilos para el texto de ubicación */
.contact-text {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #cf0000 0%, #4d0000 100%);
    font-family: 'Velocista';
    padding: 3px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #333;
    transition: transform 0.5s ease, box-shadow 0.3s ease; /* Añade una transición suave */
}

/* Efecto de agrandamiento al pasar el puntero */
.contact-text:hover {
    transform: scale(1.05); /* Agranda el contenedor */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para resaltar */


}

/* Estilos para el contenedor del mapa */
.map-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 40px; /* Ajuste del margen superior */
    margin-bottom: 70px; /* Espacio adicional hacia abajo */
    border-radius: 50px; /* Bordes redondeados */
    overflow: hidden; /* Evita que los bordes redondeados se vean cortados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 10px;
}

.map-container iframe {
    border: 0; /* Elimina el borde del iframe */
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
    .contact-info {
        flex-direction: column; /* Cambia a dirección vertical */
        align-items: center; /* Centra los elementos horizontalmente */
        margin-top: 100px; /* Aumenta el margen superior */
    }
}




/* Estilos para la página de servicios */
.products-services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Alinea elementos al inicio verticalmente */
}

.products-services-container h1 {
    font-family: 'Velocista', sans-serif;
    background: linear-gradient(135deg, #cf0000 0%, #4d0000 100%);
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    font-size: 36px;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

/* Efecto de resaltar al pasar el puntero sobre el título */
.products-services-container h1:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card {
    background: linear-gradient(135deg, #cf0000 0%, #4d0000 100%);
    font-family: 'Evogria', sans-serif;
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    text-align: center;
    width: 45%; /* Ajusta el ancho de las tarjetas para 2 columnas */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho */
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 24px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

.card p {
    font-size: 16px;
    line-height: 1.6;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Ajustes para diferentes tamaños de pantalla */
@media (max-width: 1024px) {
    .products-services-container h1 {
        font-size: 28px;
    }

    .card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .products-services-container h1 {
        font-size: 24px;
    }

    .card {
        width: 100%; /* Una sola columna en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .products-services-container h1 {
        font-size: 20px;
    }

    .card {
        width: 100%; /* Una sola columna en pantallas más pequeñas */
    }
}






